

.basic-text {padding: 60px;;}
.basic-text h3 {max-width: 800px; margin: 0 auto;}
.basic-text p {max-width: 900px; margin: 0 auto;}
.basic-text.text-white .tag {border-color: #f3f0e7; opacity: 0.7;}
.basic-text .tag {opacity: 0.5;}
.basic-text.text-dark .display-xl {color: #000;}