.slider { opacity: 0; transition: opacity .3s ease; transform: translateY(70px); }
.slider.slick-initialized { opacity: 1; }
.slider .slick-track { gap: 20px; display: flex; }
.slider .slick-list { margin: 0 -20px; overflow: visible; }
.slider .slick-prev { right: 50px; left: unset; }
.slider button { top: calc(100% + 30px); right: 0; }
.gallery .image-bg > img { max-height: 482px; }
.gallery .slick-slide img {aspect-ratio: 5 / 3; object-fit: cover;}
.gallery-stat-num { font-family: 'Heading Now 10'; line-height: .8;font-size: 170px; font-weight: 700; }

@media only screen and (max-width:1199px) {
  .gallery .image-bg > img { max-height: 350px; }
}

@media only screen and (max-width:992px) {
  .gallery .image-bg > img { max-height: 180px; }
  .slider { transform: translateY(0); }
}