


#hero {color:#FFF;}
#hero .inside {border-bottom-left-radius: 50px; border-bottom-right-radius: 50px; overflow: hidden; position: relative; aspect-ratio: 5 / 3; background: #000;}
#hero video {position: absolute; width: 100%; height: 100%; left: 0; top: 0; object-fit: cover;}
#hero .p-60 {padding-bottom: 100px;}

#hero .bg-img {position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover;}

#hero .variation-centered .display-lg {font-size: 50px;}

#hero .background-mask {position: absolute; background: #000; width: 100%; height: 100%; left: 0; top: 0; z-index: 1;}
#hero .content-wrap {position: relative; z-index: 2;}


#hero .two-columns .display-lg {font-size: 52px; text-transform: uppercase; line-height: 1.1;}
#hero .btn {padding-left: 20px; padding-right: 20px;}
#hero.centered p {max-width: 900px; text-align: center;}

.hero-date { padding: 7px 24px; font-size: 20px; }

@media only screen and (max-width:768px) {
  #hero .inside { display: flex; align-items: flex-end; min-height: 90vh; aspect-ratio: unset; }
  .hero-date { padding: 7px 15px; font-size: 14px; }
}

@media only screen and (max-width:991px) {
  .p-60 { padding: 30px !important; }
}
