.side-by-side .grid { display: grid; grid-template-columns: repeat(2, 1fr); }
.side-by-side:not(.v3) .col-text { min-height: 550px; }
.side-by-side.v2 .col-text-container,
.side-by-side.v4 .col-text-container,
.side-by-side.v5 .col-text-container { order: 2; }
.side-by-side.v3 h3,
.side-by-side.v4 h3 { color: #fff; }
.side-by-side.v4 .image-bg { width: 120%; transform: translateX(-15%); }
.side-by-side.v4 .image-bg > img { object-fit: contain; }
.side-by-side-square .col-text-container + div { aspect-ratio: 1; }
.side-by-side-square:not(.v3) .col-text { min-height: 100%; }
.side-by-side.v5 .image-bg { border-radius: 0 !important; }
.side-by-side.v5 .image-bg > img { border-radius: 30px; height: calc(50% - 9px) !important; }
.side-by-side.v5 .image-bg > img:nth-of-type(2) { top: unset; bottom: 0; }
.side-by-side.v5 .display-xl { font-size: 54px; max-width: 460px; }
.side-by-side.v5 .grid { grid-template-columns: 430px auto; }
.side-by-side .bg-cream { background-color: var(--bg, #F3F0E5); }

.side-by-side.v3.no-tag .p-60 {padding-top: 0;}

.side-by-side.v6.no-top-img .image-bg {border-top-right-radius: 70px; border-top-left-radius: 70px;}
.side-by-side.v6 .image-bg {border-top-right-radius: 0; border-top-left-radius: 0; width: 100%;}
.side-by-side.v6 .top-img {border-top-right-radius: 70px; border-top-left-radius: 70px; aspect-ratio: 3 / 1; object-fit: cover; width: 100%;;}


@media only screen and (max-width: 1200px) {
  .side-by-side-square .col-text-container + div { aspect-ratio: unset; }
}


@media only screen and (max-width:991px) {
	.side-by-side .grid,
	.side-by-side.v5 .grid { grid-template-columns: repeat(1, 1fr); }
	.side-by-side .p-60 { padding: 45px; }
  .side-by-side-square .col-text-container + div { aspect-ratio: 1; }
}


@media only screen and (max-width: 766px) {
	.side-by-side:not(.v3) .col-text-container { order: 2; }
	.side-by-side .image-bg { min-height: 380px; }
	.side-by-side:not(.v3) .col-text { min-height: 1px; }
	.side-by-side.v3 .col-text { padding-bottom: 0; }
  	.side-by-side.v4 .image-bg { width: 100%; transform: translateX(0); }
}
