@font-face {
    font-family: 'Heading Now 1';
    src: url('HeadingNow-57Extrabold.woff2') format('woff2'),
        url('HeadingNow-57Extrabold.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Heading Now 2';
    src: url('HeadingNow-77Extrabold.woff2') format('woff2'),
        url('HeadingNow-77Extrabold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Heading Now 3';
    src: url('HeadingNowTrial-76Bold.woff2') format('woff2'),
        url('HeadingNowTrial-76Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Heading Now 4';
    src: url('HeadingNowTrial-96Bold.woff2') format('woff2'),
        url('HeadingNowTrial-96Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Heading Now 5';
    src: url('HeadingNowTrial-66Bold.woff2') format('woff2'),
        url('HeadingNowTrial-66Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Heading Now 6';
    src: url('HeadingNowTrial-36Bold.woff2') format('woff2'),
        url('HeadingNowTrial-36Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Heading Now 7';
    src: url('HeadingNow-57Extrabold.woff2') format('woff2'),
        url('HeadingNow-57Extrabold.woff2') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Heading Now 8';
    src: url('HeadingNowTrial-47Extrabold.woff2') format('woff2'),
        url('HeadingNowTrial-47Extrabold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Heading Now 55';
    src: url('HeadingNow-55Medium.woff2') format('woff2'),
        url('HeadingNow-55Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Heading Now 10';
    src: url('HeadingNow-67Extrabold.woff') format('woff2'),
        url('HeadingNow-67Extrabold.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Heading Now 57';
    src: url('HeadingNow-57Extrabold.woff2') format('woff2'),
        url('HeadingNow-57Extrabold.woff') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

